ul li {
  list-style-type: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 4rem;
  max-width: 800px;
  padding: 120px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.logo-login > div {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.login {
  font-size: 16px;
  margin: 0 auto;
  color: var(--laranja);
}

.campo {
  font-size: 14px;
}

.campo-btn {
  font-size: 14px;
  color: var(--Areia);
  background-color: var(--Cinza);
  width: 80px;
  border: 1px;
  border-radius: 10px;
}

.campo-btn:hover {
  /* font-size: 14px; */
  color: var(--Areia);
  background-color: var(--laranja);
  width: 80px;
  border-radius: 10px;
}

h6 {
  margin: 0;
  color: var(--laranja);
  font-size: 14px;
}

a:hover {
  color: var(--Cinza);
  /* font-size: 15px; */
}

@media (max-width: 600px) {
  .min-largura {
    min-width: 350px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .logo-login {
    display: flex;
    overflow: scroll;
  }

  .logo-login > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}



.text-carousel {
  font-family: "Lato";
  color: var(--Cinza);
}

.img-carousel {
  justify-content: center;
  margin: auto;
}

.btn-mui {
  color: var(--Areia);
  background-color: var(--laranja);

  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 24px 0px 16px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  width: 100%;
}
