*,
*::before,
*::after {
  text-decoration: none;
}

/* Fonte */
@font-face {
  font-family: "Lato";
  src: url(../Fonts/Lato/Lato-Regular.ttf);
}

/* Reset CSS e Font do Body*/
body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80vh;
  font-family: "Lato";
}

/* Padrão de cores do Site */
:root {
  --verde: rgba(64, 197, 161); /* #40c5a1; */
  --verdeTranspa: rgba(
    64,
    197,
    161,
    0.7
  ); /* Verde com Transparência para o rodapé*/
  --azul: rgba(41, 187, 227); /* #29bbe3; */
  --laranja: rgba(245, 97, 84); /* #f56154; */
  --Cinza: rgba(85, 86, 82); /* #555652; */
  --Cinza-Claro: rgba(213, 215, 215); /* #d5d7d7; */
  --Areia: rgba(240, 240, 235); /* #f0f0eb; */
}

/* Plano de fundo da página inicial*/
.home {
  /* width: 100%; */
  /* height: 100vh; */
  background: url(../imagens/Fundo\ Home.jpg) top no-repeat;
}

/* Configuração da cor do fundo do menu superior*/
.navbar-cunstom {
  background-color: var(--Areia);
}

/* Configurações dos botões do menu fixo no top do site */
.btn {
  color: var(--Cinza);
  background-color: var(--Cinza-Claro);
  border-color: var(--Cinza-Claro);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: var(--laranja);
  border-color: var(--laranja);
}

/* Header */

nav {
  width: 100%;
  height: 5rem;
}

/* Logo da pagina home */
.logo {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 18rem 0rem 7rem 6rem;
}

/* Aqui começa a página de contato. */
.imgMenino {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 0;
  width: 90%;
  /* padding: 2rem; */
}

.faleconosco {
  margin-top: 5.5rem;
  color: #555652;
  text-align: center;
  font-weight: 200;
}

label {
  display: flex;
  color: #555652;
  margin: 0.1rem;
}

fieldset {
  border: none;
  margin: 1rem;
  padding: 1rem;
}

input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #555652;
  height: 30px;
}

::placeholder {
  color: var(--Cinza);
  padding: 5px;
  font-size: 0.9rem;
}

#cidade {
  width: 60%;
}

.cidade {
  display: flex;
}

#txtMensagem {
  height: 6rem;
}

.enviar {
  width: 20%;
  margin: 10px;
  padding: 5px;
  background-color: #555652;
  color: #f0f0eb;
  border-radius: 5px;
}

.enviar:hover {
  width: 20%;
  margin: 10px;
  padding: 5px;
  color: #f0f0eb;
  border-radius: 5px;
  background-color: #f56154;
}

button {
  align-items: center;
  border: none;
}
.btnEnviar {
  text-align: center;
}

/* Aqui começa o rodapé. */
footer {
  padding: 0;
}

.footerIcons {
  border-top: 1px solid white;
  background-color: #40c5a1;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  margin: 0;
  color: var(--Areia);
}

.copy {
  display: flex;
  color: #f0f0eb;
  padding: 5px 0px 5px 20px;
}

/* .rodape {
  margin-right: 25px;
} */

.icons {
  padding: 5px;
  width: 30px;
}

/* Início da página de Login */

ul li {
  list-style-type: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 120px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.logo-login > div {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  font: bold;
  color: var(--laranja);
  font-size: 14px;
}

.login {
  font-size: 16px;
  margin: 0 auto;
  color: var(--laranja);
}

.campo {
  font-size: 14px;
}

.campo-btn {
  font-size: 14px;
  color: var(--Areia);
  background-color: var(--Cinza);
  width: 80px;
  border: 1px;
  border-radius: 10px;
}

.campo-btn:hover {
  /* font-size: 14px; */
  color: var(--Areia);
  background-color: var(--laranja);
  width: 80px;
  border-radius: 10px;
}

h6 {
  margin: 0;
  color: var(--laranja);
  font-size: 14px;
}

a:hover {
  color: var(--Cinza);
  /* font-size: 15px; */
}

section {
  height: 91vh;
  text-align: center;
  font-size: 16px;
  color: var(--Cinza);
  /* padding: 1rem; */
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .logo-login {
    display: flex;
    overflow: scroll;
  }

  .logo-login > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}

.text-carousel {
  font-family: "Lato";
  color: var(--Cinza);
}

.img-carousel {
  justify-content: center;
  margin: auto;
}
